/* ----- General ----- */
   
a {
	text-decoration: none;
}

section, footer {
	text-align: center;
}

html {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
   
   
/* ----- Menu Button ----- */

.toggle-nav {
	display: none;
}

}
.menu ul {
	display:inline-block;
}

.menu li {
	margin:0px 30px 0px 0px;
	float:right;
	list-style:none;
	font-size:17px;
}

.menu li:last-child {
	margin-right:0px;
}

.menu a {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	color: #C0C0C0;
}

.menu a:hover, .menu .selected a {
	text-decoration:none;
	color: #c0c0c0;
	transition:color linear 0.15s;
}

.menu {
	position:relative;
   display:inline-block;
	float: right;
}

.menu ul.active {
	display:none;
}

.menu ul {
   width:150px;
   position:absolute;
   top: 120%;
   right:0px;
   box-shadow:0px 1px 1px rgba(0,0,0,0.15);
   border-radius:3px;
   background:#303030;
}

.menu ul:after {
   width:0px;
   height:0px;
   position:absolute;
   top:0%;
   right:28px;
   content:'';
   transform:translate(0%, -100%);
   border-left:10px solid transparent;
   border-right:10px solid transparent;
   border-bottom:10px solid #303030;
}

.menu li {
   margin:5px 0px 5px 0px;
   float:none;
   display:block;
}

.menu a {
   display:block;
}

.toggle-nav {
	margin: 25px 25px 5px 25px;
   padding: 15px;
   float:right;
   display:inline-block; 
   border-radius: 3px;
   background:#303030;
   color: #C0C0C0;
   font-size:15px;
   transition:color linear 0.15s;
   clear: both;
}

.toggle {
	display: none;
}

nav {
	text-decoration: none;
}
   
nav a, nav a:visited {
	text-decoration: none;
	color: #C0C0C0;
}
   
nav a.selected, nav a:hover {
	text-decoration: none;
	color: blue; 
}
   
nav {
	clear: both;
	margin: 0;
	padding: 0;
}
   
nav ul {
	margin: 0 10px;
	padding: 0;
}
   
nav li {
	display: inline-block; 
}
   
nav a {
	font-weight: bold;
	padding: 15px 10px;
}


/* ----- Colors ----- */
   
body {
	background-color: gray;
	color: white;
}
   
   
/* ----- Header ----- */
   
.toggle-nav {      
	display: inline-block;
	vertical-align: top;
}
   
h1 {
	color: white;
	margin: 25px;
	font-size: 2.25em;
	padding: 5px 5px;
}
   
.header {
	background-image: url("../img/taizen-gate.jpg");
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center;
}
   
   
#header-content {
	text-align: center;
	vertical-align: center;
}
   
#header-content h3 {
	color: white;
	display: inline;
	padding: 5px;
}
   
#header {
	width: 100%;
	height: 100px;
	clear: both;
}

h2 {
	margin-top: 0px;
	padding: 10px
}


/* ----- Main ----- */

.wrapper {
	width: 90%;
	margin: 0 auto;
	background-color: black; 
	padding: 10px;
	margin: 10px auto;
}
     
   
/* ----- Footer ----- */
   
footer {
	text-align: center;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
	color: white;
}

/* ----- Index Page ----- */